openapi: 3.0.1
info:
  title: LabX API specification
  description: This document contains the externally accessible API endpoints for the LabX Cloud Backend.
  version: 1.0.0
externalDocs:
  description: Cross-reference of all Resource Kinds, Kpi Kinds, etc.
  url: 'http://website-di-labx-documentation.s3-website.us-east-2.amazonaws.com/'
servers:
  - url: https://api.verval.di-labx.com
  - url: https://api.int.di-labx.com
  - url: https://api.dev.di-labx.com
tags:
  - name: interop
    description: |
      Miscellaneous Interop calls for Docker.
  - name: definition
    description: |
      Definitions are setup by the administrator to represent the configuration
      of the site. Definitions are not meant to change very often, and are accessed with a CRUD API.
  - name: realtime
    description: |
      Real-time data. These include metrics uploaded by edge 
  - name: resource
    description: |
      Resources representing equipment and processes in the lab.
  - name: kpi
    description: |
      Key Performance Indicators
  - name: metric
    description: |
      Real-time metrics
  - name: logging
    description: |
      Real-time logging
paths:
  '/auth':
    post:
      tags:
      - interop
      description: |
        Log-on to LabX. Copy the returned token in the authorization box
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  example: 'someone@somewhere.com'
                password:
                  type: string
                  example: 'PaSsWoRd01'
      responses:
        "200":
          description: |
            Successful operation. The token should be copied to authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                  token:
                    type: string
  '/api/kpi/1.0/currentvalues':
    get:
      security:
        - Authorization: []
      tags:
      - kpi
      - realtime
      description: |
        Obtain the current value of a set of KPIs
      parameters:
      - name: "recompute"
        in: "query"
        required: false
        description: |
          Force the recomputation of the KPI value
          <br/><b>Notes:</b><ul>
          <li>When true, the KPI values are always recomputed.</li>
          <li>When false, the KPI values are never recomputed.</li>
          <li>When absent, KPI values are recomputed when their refresh time has been reached</li>
          <li>This option applies to all KPIs selected by the query</li>
          </ul>
        schema:
          type: boolean
      - name: "wait"
        in: "query"
        required: false
        description: |
          The total amount of milliseconds the query should wait for KPIs to be recomputed.
          <br/><b>Notes:</b><ul>
          <li>The default is not to wait</li>
          <li>When specified, and some KPIs need to be recomputed, the query will wait up to that duration for computations to complete</li>
          <li>When the time has elapsed, KPIs that are noy yet recomputed are returned with their previous value (which may still be valid)</li>
          <li>The query returns as soon as all KPIs are recomputed, or the timeout elapses, whichever occurs first.</li>
          <li>This option applies to all KPIs selected by the query</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "resource"
        in: "query"
        required: false
        description: |
          A comma-separated list of GUID of Resource objects. Only KpiValue objects having one of these values as resource are selected.
          <br/><b>Notes:</b><ul>
          <li>This parameter acts as a filter, and combines with other filters. Only KpiValue objects matching all filters are selected.</li>
          </ul>
        schema:
          type: string
          format: guid
      - name: "kind"
        in: "query"
        required: false
        description: |
          A comma-separated list of GUID of KPI Kind objects. Only KpiValue objects having one of these values as kind are selected.
          <br/><b>Notes:</b><ul>
          <li>This parameter acts as a filter, and combines with other filters. Only KpiValue objects matching all filters are selected.</li>
          </ul>
        schema:
          type: string
          format: guid
      - name: "id"
        in: "query"
        required: false
        description: |
          A comma-separated list of GUID of KPI objects. Only KpiValue objects having one of these values as id are selected.
          <br/><b>Notes:</b><ul>
          <li>This parameter acts as a filter, and combines with other filters. Only KpiValue objects matching all filters are selected.</li>
          </ul>
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/KpiValue"
        "401":
          description: |
            Access token is missing or invalid
  '/api/kpi/1.0/currentvalues/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - kpi
      - realtime
      description: |
        Obtain the current value of a KPI
      parameters:
      - name: "recompute"
        in: "query"
        required: false
        description: |
          Force the recomputation of the KPI value
          <br/><b>Notes:</b><ul>
          <li>When true, the KPI values are always recomputed.</li>
          <li>When false, the KPI values are never recomputed.</li>
          <li>When absent, KPI values are recomputed when their refresh time has been reached</li>
          </ul>
        schema:
          type: boolean
      - name: "wait"
        in: "query"
        required: false
        description: |
          The total amount of milliseconds the query should wait for KPIs to be recomputed.
          <br/><b>Notes:</b><ul>
          <li>The default is not to wait</li>
          <li>When specified, and some KPIs need to be recomputed, the query will wait up to that duration for computations to complete</li>
          <li>When the time has elapsed, KPIs that are noy yet recomputed are returned with their previous value (which may still be valid)</li>
          <li>The query returns as soon as all KPIs are recomputed, or the timeout elapses, whichever occurs first.</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "id"
        in: "path"
        required: true
        description: |
          id
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/KpiValue"
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - kpi
      - realtime
      description: |
        Change the current value of a KPI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KpiValue"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          id
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/kpi/1.0/kpikinds':
    post:
      security:
        - Authorization: []
      tags:
      - definition
      - kpi
      description: |
        Creates a new KpiKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KpiKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/KpiKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - kpi
      description: |
        Retrieves a list of KpiKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/KpiKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/kpi/1.0/kpikinds/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - kpi
      description: |
        Gets a single KpiKind
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the KpiKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/KpiKind"
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      tags:
      - definition
      - kpi
      description: |
        Removes the KpiKind object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the KpiKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - definition
      - kpi
      description: |
        Updates selected properties of the KpiKind object.
        <br/><b>Notes:</b><ul>
        <li>This query updates the fields explicitly present in the body. All fields absent from the body keep their existing value.</li>
        <li>The id parameter <i>may</i> be present in the body, but it must match the existing id. It is not possible to change the unique ID of an object.</li>
        </ul>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KpiKind"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the KpiKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/KpiKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/kpi/1.0/kpis/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - kpi
      - definition
      description: |
        Obtain the setup properties of a KPI
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal id of the KPI
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Kpi"
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - kpi
      - definition
      description: |
        Update the setup properties of a KPI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Kpi"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal id of the KPI
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/kpi/1.0/resources/{id}/setup':
    get:
      security:
        - Authorization: []
      tags:
      - kpi
      - definition
      description: |
        Obtain the list of all KPIs defined for a resource
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal id of the resource for which KPIs are requested
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Kpi"
        "401":
          description: |
            Access token is missing or invalid
  '/api/kpi/1.0/resources/{id}/setup/{kind}':
    get:
      security:
        - Authorization: []
      tags:
      - kpi
      - definition
      description: |
        Obtain the setup of a single KPI for the given resource
        <br/><b>Notes:</b><ul>
        <li>This call always returns a properly setup KPI, even if the provided KPI kind does not formally
        apply to the resource. This is useful to obtain KPIs with custom kinds.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal id of the resource for which KPIs are requested
        schema:
          type: string
          format: guid
      - name: "kind"
        in: "path"
        required: true
        description: |
          The internal id of the reqiested KPI kind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Kpi"
        "401":
          description: |
            Access token is missing or invalid
  '/api/metric/1.0/currentvalues':
    post:
      security:
        - Authorization: []
      tags:
      - metric
      - realtime
      description: |
        Update the value of a set of resource metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricValues"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/metric/1.0/metrickinds':
    post:
      security:
        - Authorization: []
      tags:
      - definition
      - metric
      description: |
        Creates a new MetricKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/MetricKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - metric
      description: |
        Retrieves a list of MetricKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/MetricKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/metric/1.0/metrickinds/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - metric
      description: |
        Gets a single MetricKind
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the MetricKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/MetricKind"
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      tags:
      - definition
      - metric
      description: |
        Removes the MetricKind object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the MetricKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - definition
      - metric
      description: |
        Updates selected properties of the MetricKind object.
        <br/><b>Notes:</b><ul>
        <li>This query updates the fields explicitly present in the body. All fields absent from the body keep their existing value.</li>
        <li>The id parameter <i>may</i> be present in the body, but it must match the existing id. It is not possible to change the unique ID of an object.</li>
        </ul>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricKind"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the MetricKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/MetricKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/metric/1.0/resources/{resourceid}/currentvalues/{metrickindid}':
    post:
      security:
        - Authorization: []
      tags:
      - metric
      - realtime
      description: |
        Update the value of a resource metric
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricValue"
      parameters:
      - name: "resourceid"
        in: "path"
        required: true
        description: |
          The internal GUID of the resource targeted by the metric
        schema:
          type: string
          format: guid
      - name: "metrickindid"
        in: "path"
        required: true
        description: |
          The internal GUID of the Metric Kind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      tags:
      - metric
      - realtime
      description: |
        Retrieve the value of a resource metric
      parameters:
      - name: "resourceid"
        in: "path"
        required: true
        description: |
          The internal GUID of the resource targeted by the metric
        schema:
          type: string
          format: guid
      - name: "metrickindid"
        in: "path"
        required: true
        description: |
          The internal GUID of the Metric Kind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/MetricData"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/connectiongroups':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Retrieves a list of all connection groups that can be monitored by the current user
        <br/><b>Notes:</b><ul>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/connections/{uniqueid}':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Gets the resource corresponding to a connection identified by a unique name and a middleware.
        <br/><b>Notes:</b><ul>
        <li>An IM client typically registers additional information using the <c>imconnections</c> api.</li>
        </ul>
      parameters:
      - name: "autocreate"
        in: "query"
        required: false
        description: |
          Whether to auto-synchronize the cloud definition.
          <br/><b>Notes:</b><ul>
          <li>If the autocreate option is not set, issuing a GET for the given unique code returns a 404 if the resource was never synchronized before.</li>
          <li>It is recommended to set this field to true only when the query is performed by the client that is responsible for synchronizing the resource. Other clients should leave this field to false, in order to avoid updating a resource that they do not own.</li>
          </ul>
        schema:
          type: boolean
        example: 'false'
      - name: "displayname"
        in: "query"
        required: false
        description: |
          The display name that is used as the name of the resource during synchronization.
          <br/><b>Notes:</b><ul>
          <li>This field is ignored if autocreate is false</li>
          </ul>
        schema:
          type: string
        example: 'Display Name'
      - name: "uniqueid"
        in: "path"
        required: true
        description: |
          A user-defined unique name that represents the real world identity of the object.
          <br/><b>Notes:</b><ul>
          <li>Unique names are user defined, they do not need to be UUIDs.</li>
          <li>It is the client responsibility to ensure  that names are kept unique, and that the same name is always used to refer to the same item.</li>
          <li>Using the same uniqueid always returns the same resource, even across multiple databases. This is done on purpose so that databases can be consolidated if the need arises.</li>
          <li>It is impossible to change the uniqueid of a resource. Once it has been referred to using a given uniqueid, the same uniqueid should be used forever.</li>
          <li>uniqueids need to be unique only in the context of the middleware, if one is specified as owner.</li>
          </ul>
        schema:
          type: string
        example: 'CN-101'
      - name: "middleware"
        in: "query"
        required: true
        description: |
          The middleware that owns the definition.
          <br/><b>Notes:</b><ul>
          <li>The uniqueid parameter needs to be unique only within the context of a single middleware.</li>
          </ul>
        schema:
          type: string
          format: guid
        example: '3c911041-1a97-4e5b-820a-e10ae79296c2'
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Removes a connection from a middleware.
      parameters:
      - name: "reason"
        in: "query"
        required: false
        description: |
          The reason why the connection is deleted.
          <br/><b>Notes:</b><ul>
          <li>See the HiddenReason parameter in resource for a list of allowed values.</li>
          </ul>
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: "uniqueid"
        in: "path"
        required: true
        description: |
          A user-defined unique name that represents the real world identity of the object.
          <br/><b>Notes:</b><ul>
          <li>Unique names are user defined, they do not need to be UUIDs.</li>
          <li>It is the client responsibility to ensure  that names are kept unique, and that the same name is always used to refer to the same item.</li>
          <li>Using the same uniqueid always returns the same resource, even across multiple databases. This is done on purpose so that databases can be consolidated if the need arises.</li>
          <li>It is impossible to change the uniqueid of a resource. Once it has been referred to using a given uniqueid, the same uniqueid should be used forever.</li>
          <li>uniqueids need to be unique only in the context of the middleware, if one is specified as owner.</li>
          </ul>
        schema:
          type: string
        example: 'CN-101'
      - name: "middleware"
        in: "query"
        required: true
        description: |
          The middleware that owns the definition.
          <br/><b>Notes:</b><ul>
          <li>The uniqueid parameter needs to be unique only within the context of a single middleware.</li>
          </ul>
        schema:
          type: string
          format: guid
        example: '3c911041-1a97-4e5b-820a-e10ae79296c2'
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/currenttenant':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Retrieves the description of the current tenant
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/currentuser':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Retrieves the description of the current user
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/imconnections/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Retrieve additional information about an IM connection
        <br/><b>Notes:</b><ul>
        <li>It is expected that IM information has been setup by a PUT query.</li>
        <li>It is legal to retrieve the IM information for a connection that has not be the target of a PUT query. In that case, most of the fields returned by this query will be empty.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The GUID of the connection resource
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ImConnection"
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Update the IM information about a connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImConnection"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The GUID of the connection resource
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/middlewareconnections':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        get
        <br/><b>Notes:</b><ul>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        </ul>
      parameters:
      - name: "middleware"
        in: "query"
        required: true
        description: |
          The middleware that owns the connections.
        schema:
          type: string
          format: guid
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "sortorder"
        in: "query"
        required: false
        description: |
          Sort order to apply while retrieving the connections from database. Defaults to ascending order. Acceptables values are 'asc' or 'desc'.
        schema:
          type: string
          format: csv
      - name: "searchtext"
        in: "query"
        required: false
        description: |
          Searchs the connections matching search text.
          Search is case in-sensitive. Note that, before passing searchtext as a query param, clients must encoded it using encodeURIComponent.
        schema:
          type: string
          format: csv
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "hiddenonly"
        in: "query"
        required: false
        description: |
          Whether to include only hidden connections in the returned set. Both includehidden and hiddenonly cannot be set to true. Defaults to false.
        schema:
          type: boolean
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/MiddlewareConnections"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/middlewares':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Retrieves a list of all middlewares that can be monitored by the current user
        <br/><b>Notes:</b><ul>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/middlewares/{uniqueid}':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Gets the resource corresponding to a middleware identified by a unique name.
      parameters:
      - name: "uniqueid"
        in: "path"
        required: true
        description: |
          A user-defined unique name that represents the real world identity of the object.
          <br/><b>Notes:</b><ul>
          <li>Unique names are user defined, they do not need to be UUIDs.</li>
          <li>It is the client responsibility to ensure  that names are kept unique, and that the same name is always used to refer to the same item.</li>
          <li>Using the same uniqueid always returns the same resource, even across multiple databases. This is done on purpose so that databases can be consolidated if the need arises.</li>
          <li>It is impossible to change the uniqueid of a resource. Once it has been referred to using a given uniqueid, the same uniqueid should be used forever.</li>
          <li>uniqueids need to be unique only in the context of the middleware, if one is specified as owner.</li>
          </ul>
        schema:
          type: string
        example: 'SN-999999'
      - name: "autocreate"
        in: "query"
        required: false
        description: |
          Whether to auto-synchronize the cloud definition.
          <br/><b>Notes:</b><ul>
          <li>If the autocreate option is not set, issuing a GET for the given unique code returns a 404 if the resource was never synchronized before.</li>
          <li>It is recommended to set this field to true only when the query is performed by the client that is responsible for synchronizing the resource. Other clients should leave this field to false, in order to avoid updating a resource that they do not own.</li>
          </ul>
        schema:
          type: boolean
        example: 'false'
      - name: "displayname"
        in: "query"
        required: false
        description: |
          The display name that is used as the name of the resource during synchronization.
          <br/><b>Notes:</b><ul>
          <li>This field is ignored if autocreate is false</li>
          </ul>
        schema:
          type: string
        example: 'Display Name'
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/properties/{resource}/{property}':
    get:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Retrieves the value of the property associated with the resource.
        <br/><b>Notes:</b><ul>
        <li>If the property does not exist, or if it does not have a value, the API returns status 200, with a value of null.</li>
        </ul>
      parameters:
      - name: "resource"
        in: "path"
        required: true
        description: |
          The GUID of the resource associated with the property.
        schema:
          type: string
          format: guid
      - name: "property"
        in: "path"
        required: true
        description: |
          The GUID of the property kind.
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceProperty"
        "401":
          description: |
            Access token is missing or invalid
    post:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Sets the value of the property associated with the resource.
        <br/><b>Notes:</b><ul>
        <li>The payload (body) is used as the value of the property. It can be any JSON value, either a scalar, an array or a map.</li>
        <li>The new value totally replaces the old one, even if the value is a structured JSON map.</li>
        </ul>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonData"
      parameters:
      - name: "resource"
        in: "path"
        required: true
        description: |
          The GUID of the resource associated with the property.
        schema:
          type: string
          format: guid
      - name: "property"
        in: "path"
        required: true
        description: |
          The GUID of the property kind.
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      tags:
      - resource
      description: |
        Deletes the value of the property associated with the resource.
      parameters:
      - name: "resource"
        in: "path"
        required: true
        description: |
          The GUID of the resource associated with the property.
        schema:
          type: string
          format: guid
      - name: "property"
        in: "path"
        required: true
        description: |
          The GUID of the property kind.
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/propertykinds':
    post:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Creates a new ResourcePropertyKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourcePropertyKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourcePropertyKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Retrieves a list of ResourcePropertyKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ResourcePropertyKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/propertykinds/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Gets a single ResourcePropertyKind
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourcePropertyKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourcePropertyKind"
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Removes the ResourcePropertyKind object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourcePropertyKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Updates selected properties of the ResourcePropertyKind object.
        <br/><b>Notes:</b><ul>
        <li>This query updates the fields explicitly present in the body. All fields absent from the body keep their existing value.</li>
        <li>The id parameter <i>may</i> be present in the body, but it must match the existing id. It is not possible to change the unique ID of an object.</li>
        </ul>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourcePropertyKind"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourcePropertyKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourcePropertyKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcekinds':
    post:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Creates a new ResourceKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Retrieves a list of ResourceKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ResourceKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcekinds/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Gets a single ResourceKind
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourceKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceKind"
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Removes the ResourceKind object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourceKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    put:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Updates selected properties of the ResourceKind object.
        <br/><b>Notes:</b><ul>
        <li>This query updates the fields explicitly present in the body. All fields absent from the body keep their existing value.</li>
        <li>The id parameter <i>may</i> be present in the body, but it must match the existing id. It is not possible to change the unique ID of an object.</li>
        </ul>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceKind"
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourceKind
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcelinkkinds':
    post:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Creates a new ResourceLinkKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceLinkKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceLinkKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Retrieves a list of ResourceLinkKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.
        Pagination ensures that a query does not return an unexpectedly large data set.
        It is recommended to adapt the size of individual pages according to the expected size of the dataset.
        Making a single large query is usuall more efficient than making several small ones.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return, when using the <tt>first</tt>/<tt>last</tt> combination.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters. It is recommended to use <tt>page</tt>/<tt>pagesize</tt> rather than <tt>first</tt>/<tt>last</tt></li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          <li>The <tt>last</tt> parameter is ignored if the <tt>first</tt> parameter is not given.</li>
          <li>The query will return at most <tt>last</tt> - <tt>first</tt> items.
          If the <tt>last</tt> parameter is not given, at most <tt>pagesize</tt> items will be returned.
          It is not recommended to leave <tt>last</tt> parameter unspecified.</li>
          <li>The behavior when <tt>last</tt> is less or equal to <tt>first</tt> is not specified, and subject to change.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ResourceLinkKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcelinkkinds/{id}':
    get:
      security:
        - Authorization: []
      tags:
      - definition
      - resource
      description: |
        Gets a single ResourceLinkKind
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the ResourceLinkKind
        schema:
          type: string
          format: guid
      responses:
        "200":
[...]
