openapi: 3.0.1
info:
  title: -Should be set by runtime-
  description: LabX API specification.
  version: 1.0.0
servers:
  - url: https://api.verval.di-labx.com
  - url: https://api.int.di-labx.com
  - url: https://api.dev.di-labx.com
paths:
  '/auth':
    post:
      description: |
        Log-on to LabX. Copy the returned token in the authorization box
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userName:
                  type: string
                  example: 'someone@somewhere.com'
                password:
                  type: string
                  example: 'PaSsWoRd01'
      responses:
        "200":
          description: |
            Successful operation. The token should be copied to authorization
          content:
            application/json:
              schema:
                type: object
                properties:
                  access:
                    type: string
                  token:
                    type: string
  '/api/resource/1.0/resources':
    post:
      security:
        - Authorization: []
      description: |
        Creates a new Resource object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Resource"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      description: |
        Retrieves a list of Resource objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "kind"
        in: "query"
        required: false
        description: |
          The GUID of a ResourceKind object. Only Resource objects having this value as kind are returned.
          <br/><b>Notes:</b><ul>
          <li>This parameter acts as a filter, and combines with other filters. Only Resource objects matching all filters are returned.</li>
          </ul>
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Resource"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resources/{id}':
    get:
      security:
        - Authorization: []
      description: |
        Gets a single TBD
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the TBD
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      description: |
        Removes the TBD object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "reason"
        in: "query"
        required: false
        description: |
          <b>Warning</b>: This feature is currently experimental and should not be used in production<br/>
          The unique ID of the reason why the resource is deleted.
          <br/><b>Notes:</b><ul>
          <li>This is equivalent to including the `hiddenreason` parameter to a PUT query.</li>
          </ul>
        schema:
          type: string
          format: guid
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the TBD
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcelinkkinds':
    post:
      security:
        - Authorization: []
      description: |
        Creates a new ResourceLinkKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceLinkKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceLinkKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      description: |
        Retrieves a list of ResourceLinkKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ResourceLinkKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcelinkkinds/{id}':
    get:
      security:
        - Authorization: []
      description: |
        Gets a single TBD
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the TBD
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      description: |
        Removes the TBD object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the TBD
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcekinds':
    post:
      security:
        - Authorization: []
      description: |
        Creates a new ResourceKind object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceKind"
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    $ref: "#/components/schemas/ResourceKind"
        "401":
          description: |
            Access token is missing or invalid
    get:
      security:
        - Authorization: []
      description: |
        Retrieves a list of ResourceKind objects.
        <br/><b>Notes:</b><ul>
        <li>The returned list does not contain objects marked as hidden. To include those objects in the list, use the <tt>includehidden</tt> option in the parameters.</li>
        <li>The returned list of objects is subject to pagination.</li>
        </ul>
      parameters:
      - name: "includehidden"
        in: "query"
        required: false
        description: |
          Whether to include hidden objects in the returned set.
          <br/><b>Notes:</b><ul>
          <li>When absent, the returned object list does not contain objects marked as hidden.</li>
          </ul>
        schema:
          type: boolean
      - name: "page"
        in: "query"
        required: false
        description: |
          The page number. Combined with the <tt>pagesize</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          <li>To iterate through items, increase the page number until the returned set is empty</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 0
          minimum: 0
      - name: "pagesize"
        in: "query"
        required: false
        description: |
          The page size. Combined with the <tt>page</tt> parameter, this defines the range of objects returned.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          </ul>
        schema:
          type: integer
          format: int64
          default: 20
          minimum: 1
      - name: "first"
        in: "query"
        required: false
        description: |
          The index of the first item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          </ul>
        schema:
          type: integer
          format: int64
      - name: "last"
        in: "query"
        required: false
        description: |
          The index + 1 of the last item to return.
          <br/><b>Notes:</b><ul>
          <li>Avoid specifying the range by mixing <tt>page</tt>/<tt>pagesize</tt> and <tt>first</tt>/<tt>last</tt> parameters.</li>
          <li>Bear in mind that this is not the index of the last item to return, but the index <b>following</b> the last item to return.</li>
          </ul>
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 200
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/ResourceKind"
        "401":
          description: |
            Access token is missing or invalid
  '/api/resource/1.0/resourcekinds/{id}':
    get:
      security:
        - Authorization: []
      description: |
        Gets a single TBD
        <br/><b>Notes:</b><ul>
        <li>The object is returned even if it is hidden.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the TBD
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
    delete:
      security:
        - Authorization: []
      description: |
        Removes the TBD object.
        <br/><b>Notes:</b><ul>
        <li>This does not actually delete the object from the database, as it may be needed for historical reasons.
        Instead, the <tt>hidden</tt> property of the object is set to <tt>true</tt>.</li>
        <li>It is possible to <i>undelete</i> an object by issuing a <tt>put</tt> query to set the
        <tt>hidden</tt> property back to <tt>false</tt>.</li>
        </ul>
      parameters:
      - name: "id"
        in: "path"
        required: true
        description: |
          The internal Id of the TBD
        schema:
          type: string
          format: guid
      responses:
        "200":
          description: |
            Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  statuscode:
                    type: number
                    example: 204
                  status:
                    type: string
                    example: 'Success'
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  data:
                    example: null
        "401":
          description: |
            Access token is missing or invalid
components:
  securitySchemes:
    Authorization:
      description: |
        Enter here the value of the <tt>token</tt> field that you received from a valid /auth call
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Resource:
      type: object
      description: |
        Resource
      properties:
        Id:
          description: |
            The internal ID of the Definition.
            Once attributed, the internal ID can no longer be changed.
            <br/><b>Notes:</b><ul>
            <li>When specified during a PUT, the field value must match the ID passed in the URL</li>
            </ul>
        Name:
          description: |
            A descriptive name for the Definition.
            The name should be descriptive and specific enough for a user to quickly identify the
            Definition referred to by that entry.
            <br/><b>Notes:</b><ul>
            <li>Two entries may have the same name.</li>
            <li>Changing the name of an entry does not alter its identity.</li>
            <li>There is no limit to the size of a name, but this should not typically exceed 50 characters.</li>
            </ul>
    ResourceKind:
      type: object
      description: |
        ResourceKind
      properties:
        Id:
          description: |
            The internal ID of the Definition.
            Once attributed, the internal ID can no longer be changed.
            <br/><b>Notes:</b><ul>
            <li>When specified during a PUT, the field value must match the ID passed in the URL</li>
            </ul>
        Name:
          description: |
            A descriptive name for the Definition.
            The name should be descriptive and specific enough for a user to quickly identify the
            Definition referred to by that entry.
            <br/><b>Notes:</b><ul>
            <li>Two entries may have the same name.</li>
            <li>Changing the name of an entry does not alter its identity.</li>
            <li>There is no limit to the size of a name, but this should not typically exceed 50 characters.</li>
            </ul>
    ResourceLinkKind:
      type: object
      description: |
        ResourceLinkKind
      properties:
        Id:
          description: |
            The internal ID of the Definition.
            Once attributed, the internal ID can no longer be changed.
            <br/><b>Notes:</b><ul>
            <li>When specified during a PUT, the field value must match the ID passed in the URL</li>
            </ul>
        Name:
          description: |
            A descriptive name for the Definition.
            The name should be descriptive and specific enough for a user to quickly identify the
            Definition referred to by that entry.
            <br/><b>Notes:</b><ul>
            <li>Two entries may have the same name.</li>
            <li>Changing the name of an entry does not alter its identity.</li>
            <li>There is no limit to the size of a name, but this should not typically exceed 50 characters.</li>
            </ul>
